apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ohlfmjme
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ohlfmjme:90d2b1817870260d550a627421145ce6a48f5c6d@sha256:d31563b22fa88edef572659a3b6669a65e1b73180d1cfa8b31d3df367f340dd5
        name: container-image  
